body {
	padding: 40px;
	background-color: #E1DCD6;
	font-family: "Archivo Narrow";
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

a {
	color: black;
}

h1, h2, h3 {
	font-size: 200%;
}

section,
figure {
	margin-top: 80px;
	max-width: 600px;
}

#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}
