body {
	padding: 10px;
	background-color: #E1DCD6;
	font-family: "Archivo Narrow";
	color: rgb(230,50,35);
}

header {
	position: fixed;
	width: 100%;
	padding: 10px;
	border: 2px solid red;
	position: relative;
	margin-bottom: 10px;
	display: flex;
	word-break: break-all;
	/* text-align: center; */
}

#header2 {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	align-content: center;
	justify-content: center;
	row-gap: 10px;
	word-break: break-word;
}

@media (min-width: 1420px) {
	#header2 {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media (max-width: 725px) {
	#header2 {
		grid-template-columns: repeat(1, 1fr);
	}
}

#centeralign {
	margin: auto;
}

h1 {
	font-size: 3vw;
	margin-right: 0;
	padding-right: 10px;
	white-space:nowrap;
}

h2 {
	padding: 0px 20px;
	margin: 0px 10px;
	border: 2px solid rgb(230,50,35);
	border-radius: 7px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.7s;
}

h2:hover {
	background-color: rgb(230,50,35);
	color: #E1DCD6;
	transition: 0.7s;
	transform: rotate(180deg);
}

h3 {
	font-size: 150%;
}

/* #channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
} */

section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: dense;
	gap: 10px;
	margin-top: 50px;
}

@media (max-width: 1084px) {
	section {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 480px) {
	section {
		grid-template-columns: repeat(1, 1fr);
	}
}

#hmartlogo {
	width: 15%;
}

.image {
	margin-top: 10px;
	width: 300px;
	border: 5px solid;
	padding: 10px;
}

}
.description {
	margin-top: 20px;
	font-size: 15px;
	line-height: 97%;
}

h4 {
	padding-right: 10px;
	justify-content: left;
	font-size: 15px;
	background-color: rgb(230,50,35);
	color: #E1DCD6;
	padding: 10px;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}

h5 {
	padding-right: 10px;
	justify-content: center;
	font-size: 30px;
	background-color: rgb(230,50,35);
	color: #E1DCD6;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}
