body {
	padding: 10px;
	background-color: #E1DCD6;
	font-family: "Archivo Narrow";
	color: rgb(230,50,35);
}

header {
	position: fixed;
	width: 100%;
	padding: 10px;
	border: 2px solid red;
	position: relative;
	margin-bottom: 10px;
	display: flex;
	word-break: break-all;
	text-align: center;
}

#header2 {
	display: grid;
	grid-template-columns: repeat(8,1fr);
	align-content: center;
	justify-content: center;
}

#centeralign {
	margin: auto;
}

h1 {
	font-size: 200%;
	position: absolute;
	right: 0;
	padding-right: 10px;
}

h2 {
	padding: 0px 20px;
	margin: 0px 10px;
	border: 2px solid rgb(230,50,35);
	border-radius: 7px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.7s;
}

h2:hover {
	background-color: rgb(230,50,35);
	color: #E1DCD6;
	transition: 0.7s;
	transform: rotate(180deg);
}

h3 {
	font-size: 150%;
}

/* #channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
} */

section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: dense;
	gap: 30px;
}

#hmartlogo {
	width: 15%;
}

.image {
	width: 80%;
}

.description {
	font-size: 15px;
}

h4 {
	padding: 0px 20px;
	margin: 0px 10px;
	border-radius: 7px;
	display: flex;
	align-content: left;
	justify-content: left;
	transition: 0.7s;
}
